<div class="offset-sm-2 col-sm-8 " style="margin-top:20px">
  <div class="container">
    <div class="row card">
      <div class="card-header">
        <span class="card-title">Contact us</span>
      </div>

      <div class="form-group cont" itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
        <div class="contact-address" id="contactInfo" itemprop="streetAddress">
          <span style="font-size:24px;padding-top:20px">"अखिल वैश्य सोनार संघ,पुणे"</span>
          <br>
          <span>अध्यक्ष:- श्री. विलास सराफ (9860339099)</span>
          <br>

          <span>कार्याध्यक:- श्री. अजय पोहेकर (9822048627)</span>
          <br>

          <span>उपाध्यक्ष:- श्री. निलेश घाटोळे (9404382832)</span>
          <br>

          <span>सचिव :- श्री. अश्विन सराफ (9405862248)</span>
          <br>

          <span>सहसचिव:- श्री. श्रीकांत बहुगुणे (9371101561)</span>
          <br>

          <span>कोषाध्यक:- श्री. रवींद्र दहीवदकर (9420177887)</span>
          <br>

          <span>सहकोषाध्य :- श्री. संजय घाटोळे (9270034564)</span>
          <br>

          <span>समन्वयक :- श्री. अविनाश बिंड (8149091033)</span>
          <br>
          <span>स्थानिक संपर्क प्रमुख :- श्री. प्रकाश काळे (8605126524), श्री. रामचंद्र पासे (9970504696)</span>
          <br>
          <span>आय. टी.विभाग :- श्री. अजय वैद्य (9158572121):- श्री. निमिष सोनार (8805042502) </span>
          <br>
          <span>इंटरनल ऑडीटर :- श्री. निलेश गिरजापुरे (8956667171)</span> 
          <br>
          <span>महिला प्रतिनिधी :- श्रीमती अलका दाभाडे (9766350003):- सौ. योगिता दहीवदकर (7757022738)</span>
          <br>
          <span>सल्लागार:- श्री. वासुदेवराव घाटोळे (02025386277) :- श्री. दत्तात्रय वैद्य (9422507878):- श्री. प्रकाश राउळकर (9850556684):- श्री. नवनीत सोनार (9421974648)</span>
          <br>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-lg-12 center t-margin4">
        <div id="success"></div>

      </div>
    </div>
  </div>
</div>
