<div class="container" style="margin-top:-40px">
  <div class="offset-md-4">
    <h1 style="font-weight:600">अखिल वैश्य सोनार संघ, पुणे</h1>
  </div>
</div>

<div class=" fluid-container">
  <div class="">
    <!--art-->

    <div id="demo" class="carousel slide" data-ride="carousel">

      <!--Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/img2_shaniwar.jpg" alt="Los Angeles" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="/images/bgn1.jpg" alt="Chicago" width="1100" height="500">
        </div>
        <div class="carousel-item">
          <img src="/images/m1.jpg" alt="New York" width="1100" height="500">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>

    <!--<div class="container">
    <div class="row" style="margin-left:15px;margin-right:15px;margin-top:20px">
        <div class="col-md-4 left">
            <div class="">
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
        </div>
        <div class="col-md-4 middle">
            <div class="">
                <h3>Column 1</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
            </div>
        </div>
        <div class="col-md-4 right">
            <div class="">
                <p> The real act of marriage takes place in the heart, not in the ballroom or church or synagogue. It's a choice
                    you make - not just on your wedding day, but over and over again - and that choice is reflected in the
                    way you treat your husband or wife.</p>
            </div>
        </div>
    </div>
</div>

<div class="artbottom">
    <div class="">
        <center>
            <p>शुभारंभ ऑफर" फक्त १८ मार्च २०१८ पर्यंत Registration करून प्रोफाइल अपडेट करणाऱ्यांसाठी उपलब्ध....</p>
            <p>Love doesn't make the world go round. Love is what makes the ride worthwhile. Franklin P. Jones</p>
            <p>For the truly romantic at heart, we've put together a selection of some of the best-loved - and lesser-known
                . Use them on your invitations, in thank you notes, on place settings, in the order of service, recite them
                in your wedding vows and in your wedding speeches
            </p>
        </center>
    </div>
</div>-->

    <!-- Scroll bar present and enabled -->
    <!--  <div style="width: 200px; height: 100px; overflow-y: scroll;">
        test<br />
        test<br />
        test<br />
        test<br />
        test<br />
        test<br />
        test<br />
        test<br />
        test<br />
        test<br />
        </div>
    shareimprove this answer-->
    <div class="container">
      <div class="row" style=" margin-right: -105px; 
            margin-left: -97px">
        <div class="col-md-3">
          <div class="panel panel-default" style=" height: 600px; overflow-y: scroll;">
            <div class="panel-heading" style="background-color:#7B0D3E;color:white">Important News</div>
            <ul style="padding: 0px; margin: 0px;">
              <li class="panel-menu">
                <img style="width:100%" src="/images/news.jpg"></img>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row" style="margin:10px">
            <div class="col-md-6 left">
                <img style="width:100%;height:100%" src="/images/gudhipadawa.jpg"></img>
            </div>
            <div class="col-md-6 right mxy-2">
              <div class="middnote">
                स्वभावाचं औषध पत्रिकेत सापडेना, गुणांचं गणित काही केल्या सुटेना, कांदेपोह्यांचा हिशोब आता लागेना..सांगा ना, आपल जमेल ना...!
                एक अनोखी स्वभाव गुणमिलन चाचणी
              </div>
            </div>
          </div>
          <div class="row" style="margin:10px">
            <div class="col-md-12" style="background-color:lightblue">
              <div class="middnote">
                    🙏 नमस्कार समाज बांधव🙏🏻
                    <br>सर्व विभागातील आपल्या समाज बांधवांना विनंती की पुणे संघ, रौप्यमहोत्सवा निमीत्ताने वधु वर संमेलन आयोजीत करीत आहे तरी या ऊपक्रमात जास्तीत जास्त समाजबांधवांनी आपल्या कडील वधु वरां ची नावे नोंदवुन प्रतीसाद द्यावा ही विनंती.🙏🏻🙏🏻
                    
                     त्या साठी आपल्या सर्वांचा भरघोस असा प्रतिसाद आवश्यक आहे.. त्वरीत आपल्या परीचित वधु वरांची नावे व माहिती (pune. avss @gmaill .com)या संकेत स्थळावर 20 एप्रिल 2018 पर्यत नोंदवावीत  ही विनंती. सुयोग्य नियोजनासाठी सहकार्य आवश्यक आहे. धन्यवाद ..🙏.
              </div>
            </div>
          </div>
          <div class="row" style="margin:10px">
            <div class="col-md-6 left mxy-2">
              <div class="middnote">
                स्वभावाचं औषध पत्रिकेत सापडेना, गुणांचं गणित काही केल्या सुटेना, कांदेपोह्यांचा हिशोब आता लागेना..सांगा ना, आपल जमेल ना...!
                एक अनोखी स्वभाव गुणमिलन चाचणी
              </div>
            </div>
            <div class="col-md-6 right mxy-2">
              <div class="middnote">
                स्वभावाचं औषध पत्रिकेत सापडेना, गुणांचं गणित काही केल्या सुटेना, कांदेपोह्यांचा हिशोब आता लागेना..सांगा ना, आपल जमेल ना...!
                एक अनोखी स्वभाव गुणमिलन चाचणी
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="panel panel-default" style=" height: 600px; overflow-y: scroll;">
            <div class="panel-heading" style="background-color:#7B0D3E;color:white">Important News</div>
            <ul style="padding: 0px; margin: 0px;">
              <li class="panel-menu" style="font-size:13px">
                    🙏नमस्कार🙏
                    <br>आपणा सर्वांना माहीतच आहे की, यंदाचे सन २०१८—१९ हे वर्ष रौप्यमहोत्सवी वर्ष आहे म्हणुन त्या निमित्त येत्या वर्षभरात आपल्या पुणे संघातर्फे आपणां सर्व समाजबांधवांच्या सहकार्याने विविध कार्यक्रमांची रेलचेल असणार आहे. जसे नामसुची , वधू—वर मेळावा, कौटुंबीक सहल , कोजागीरी तसेच ईतर अनेक ऊपक्रम असणार आहेत. 
                    त्यातीलच हा एक अतीशय महत्वाचा आणी काळाची गरज असलेला असा "वधू—वर" मेळावा आपण सर्वप्रथम येत्या मे महिन्यात आयोजीत करत आहोत.त्यास ऊत्तम असा प्रतीसादही मिळत आहे.
                    चलातर मग मंडळी आपण आपले हे रौप्यमहोत्सवी वर्ष मोठ्या ऊत्साहात साजर करुयात.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
